<div class="row">
  <div class="col-md-5">
    <div class="form-group" ng-if="media.features.paste">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Paste URL" ng-model="media.url">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-paste"></span>
        </span>
      </div>
    </div>

    <div class="form-group" ng-if="media.features.search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="media.search" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, blur: 0} }" >
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-search"></span>
        </span>
      </div>
    </div>

    <div ng-include="media.list.template" ></div>

  </div>

  <div class="col-md-7">
    <div ng-include="media.embed.template" ></div>
  </div>
</div>
